[Unit]
Description=UDP Custom Enhanced by Tobin
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/root/udp
ExecStart=/root/udp/udp-custom server
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
